<template>
  <div class="dashboard">
    <div id="myChart" :style="{ width: '100%', height: '300px' }" />

    <div class="dashboard-nav">
      <h4>快速导航</h4>
      <p>
        <router-link to="/artilce/index">文章管理</router-link>
        <router-link to="/comment/index">评论管理</router-link>
        <router-link to="/file/index">文集管理</router-link>
        <router-link to="/user/index">用户管理</router-link>
        <router-link to="/view/index">访问管理</router-link>
        <router-link to="/setting/index">系统管理</router-link>
      </p>
    </div>

    <div class="dashboard-art">
      <div>
        <h4>最新文章</h4>
        <p><router-link to="/artilce/index">文章管理</router-link></p>
      </div>
      <ul>
        <li v-for="item in articleList" :key="item.id">
          <img :src="item.cover" alt="">
          <p>{{ item.title }}</p>
        </li>
      </ul>
    </div>

    <div class="list">
      <div class="dashboard-comment">
        <h4>最新评论</h4>
        <p><router-link to="/comment/index">评论管理</router-link></p>
      </div>
      <div class="content">
        <el-table
          :data="commentList"
          border
          style="width: 100%"
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="40" />
          <el-table-column fixed prop="" label="状态" width="150">
            <template slot-scope="scope">
              <span><span :class="scope.row.pass ? 'green' : 'origin'" />{{
                scope.row.pass ? "已通过" : "未通过"
              }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="称呼" width="140" />
          <el-table-column prop="email" label="联系方式" width="180" />
          <el-table-column prop="content" label="原始内容" width="140">
            <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
                <span style="margin-left: 10px">{{ scope.row.content }}</span>
                <div slot="reference" class="name-wrapper">
                  <el-tag
                    size="medium"
                  ><span style="margin-left: 10px">查看内容</span></el-tag>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column prop="" label="HTML内容" width="140">
            <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
                <span style="margin-left: 10px" v-html="scope.row.html" />
                <div slot="reference" class="name-wrapper">
                  <el-tag
                    size="medium"
                  ><span style="margin-left: 10px">查看内容</span></el-tag>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column
            prop=""
            show-overflow-tooltip
            label="管理文章"
            width="120"
          >
            <template><span>文章</span></template>
          </el-table-column>
          <el-table-column prop="" label="创建时间" width="200">
            <template
              slot-scope="scope"
            ><span>{{ scope.row.createAt | spliceTime }}</span></template>
          </el-table-column>
          <el-table-column prop="" label="父级评论" width="140">
            <template><span>无</span></template>
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="160">
            <template slot-scope="scope">
              <el-button
                type="text"
                size="small"
                @click="handleClick(scope.row)"
              >通过</el-button>
              <el-button
                type="text"
                size="small"
                @click="refuseClick(scope.row)"
              >拒绝</el-button>
              <el-button
                type="text"
                size="small"
                @click="open(scope.row)"
              >回复</el-button>
              <el-button
                type="text"
                size="small"
                @click="deleteClick(scope.row)"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="page">
        <el-pagination
          :current-page="1"
          :page-sizes="[8, 12, 24, 36]"
          :page-size="pageSize"
          layout="total, prev, pager, next, sizes, jumper"
          :total="pageCount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data() {
    return {
      formInline: {
        user: '',
        email: '',
        region: ''
      },
      page: 1,
      pageSize: 12,
      multipleSelection: []
    }
  },
  computed: {
    ...mapState({
      // 文章
      articleList: (state) => state.article.articleList,
      // 评论
      commentList: (state) => state.comment.commentList,
      pageCount: (state) => state.comment.pageCount
    })
  },
  methods: {
    ...mapActions({
      fetchList: 'article/fetchList',
      getComment: 'comment/getComment'
    }),
    drawLine() {
      // 基于准备好的dom，初始化echarts实例
      const myChart = this.$echarts.init(document.getElementById('myChart'))
      // 绘制图表
      myChart.setOption({
        tooltip: {},
        xAxis: {
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        },
        yAxis: {},
        series: [
          {
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          }
        ]
      })
    },
    onHandleClick() {
      this.multipleSelection.forEach((item) => {
        return this.handleClick(item)
      })
    },
    onRefuseClick() {
      this.multipleSelection.forEach((item) => {
        return this.refuseClick(item)
      })
    },
    onDeleteClick() {
      this.multipleSelection.forEach((item) => {
        return this.deleteClick(item)
      })
    },
    comment() {
      this.getComment({ page: this.page, pageSize: this.pageSize })
    },
    open(row) {
      this.$prompt('回复评论', {
        confirmButtonText: '确定',
        cancelButtonText: '取消'
      })
        .then(({ value }) => {
          this.$message({
            type: 'success',
            message: '你的回复是: ' + value
          })
          this.commentChildren({
            content: value,
            createByAdmin: true,
            email: row.email,
            hostId: row.hostId,
            name: row.name,
            parentCommentId: row.parentCommentId,
            replyUserEmail: row.replyUserEmail,
            replyUserName: row.replyUserName,
            url: row.url
          })
          setTimeout(() => {
            this.getComment({ page: this.page, pageSize: this.pageSize })
          }, 2000)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '取消输入'
          })
        })
    },
    async handleClick(row) {
      // 通过
      await this.passComment({ id: row.id, pass: true })
      await this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
    },
    async refuseClick(row) {
      await this.passComment({ id: row.id, pass: false })
      await this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
    },
    async deleteClick(row) {
      await this.deleteComment({ id: row.id })
      await this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
    },
    ...mapActions({
      getComment: 'comment/getComment',
      passComment: 'comment/passComment',
      deleteComment: 'comment/deleteComment',
      commentChildren: 'comment/commentChildren'
    }),
    handleSizeChange(val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
    },
    handleCurrentChange(val) {
      this.page = val
      this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
      // console.log(`当前页: ${val}`)
    },
    onSearch() {
      this.getComment({
        page: this.page,
        pageSize: this.pageSize,
        name: this.formInline.user,
        email: this.formInline.email,
        pass: this.formInline.region
      })
    },
    resetForm() {
      // 重置
      this.formInline.user = ''
      this.formInline.email = ''
      this.formInline.region = ''
    },
    handleSelectionChange(val) {
      // 多选框
      this.multipleSelection = val
      console.log(val, this.multipleSelection)
    }
  },
  mounted() {
    this.drawLine()
    this.fetchList({ page: 1, pageSize: 12 })
  },
  created() {
    this.getComment({ page: this.page, pageSize: this.pageSize })
  }
}
</script>

<style lang="scss" scope>
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
#myChart {
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;
}
.dashboard {
  width: 100%;
  height: 100%;
}
.dashboard-nav {
  width: 100%;
  height: 140px;
  background-color: #fff;
  margin-bottom: 20px;
}
.dashboard-nav > h4 {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.dashboard-nav > p {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dashboard-art {
  width: 100%;
  min-height: 200px;
  background-color: #fff;
}
.dashboard-art > ul > li:hover {
  box-shadow: 0px 0px 5px 0px;
}

.dashboard-art > div {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.dashboard-art > ul {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.dashboard-art > ul > li {
  width: 33%;
  height: 200px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dashboard-art > ul img {
  width: 240px;
  max-height: 110px;
}

.dashboard-comment  {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.dashboard-comment > ul {
  width: 100%;
  height: 100%;
}
.dashboard-comment > ul > li {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-comment-right {
  cursor: pointer;
  display: flex;
}
.dashboard-comment-right > span {
  color: #0188fb;
  padding: 0 10px;
  border-right: solid 1px #eee;
}

.comment {
  padding: 24px;
  background-color: #eff2f5;
}
.commentMange {
  box-sizing: border-box;
}
.from {
  padding: 24px 12px;
  margin-bottom: 16px;
  background: #fff;
}
.fromBut {
  display: flex;
  justify-content: flex-end;
}

.list {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  padding: 24px 12px;
}
.listTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  .el-icon-refresh-right {
    color: #000;
    font-size: 16px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.page {
  margin-top: 1.5rem;
  text-align: right;
}
@media (max-width: 768px) {
  .item {
    width: 50%;
  }
}
.green {
  display: inline-block;
  width: 6px;
  height: 6px;
  // color:green;
  border-radius: 50%;
  background-color: #52c41a;
  margin: 0 2px;
}
.origin {
  display: inline-block;
  width: 6px;
  height: 6px;
  // color: orange;
  border-radius: 50%;
  background-color: #faad14;
  margin: 0 2px;
}
.el-form-item {
  margin-bottom: 0;
}
</style>
