<template>
  <div class="editor">
    <div class="left">
      <div class="leftTop">
        <div>
          <el-popover v-model="visible" placement="right-start" width="280">
            <p>确认关闭？如果有内容变更，请先保存。</p>
            <div style="text-align: right; margin: 0">
              <el-button
                size="mini"
                type="text"
                @click="visible = false"
              >取消</el-button>
              <el-button
                type="primary"
                size="mini"
                @click="sure"
              >确定</el-button>
            </div>
            <span slot="reference">X</span>
          </el-popover>
          <div />
          <span><i class="el-icon-setting" /></span>
        </div>
        <div class="top2">
          <span>保存</span>
        </div>
        <div class="top3">
          <span>{{ list.length }}篇文章</span>
          <el-popover placement="right-end" width="284" trigger="click">
            <div class="InputDiv">
              <el-input v-model="input" placeholder="请输入内容" />
              <el-button type="primary" size="small">新建</el-button>
            </div>

            <el-button slot="reference" size="small" plain>+新建</el-button>
          </el-popover>
        </div>
        <div class="top4" />
      </div>
      <div class="leftBottom" />
    </div>
    <div class="right" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data() {
    return {
      list: [],
      input: '',
      visible: false
    }
  },
  computed: {
    ...mapState({
      pageCount: (state) => state.knowledge.pageCount,
      knowledgeList: (state) => state.knowledge.knowledgeList
    })
  },
  methods: {
    ...mapActions({
      getKnowledge: 'knowledge/getKnowledge'
    }),
    sure() {
      this.visible = false
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="scss" scoped>
.editor {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  min-width: 240px;
  padding: 12px 0;
}
.leftTop {
  padding: 0 12px;
}
.leftTop > div {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}
.top2 {
  margin-top: 16px;
  height: 32px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 4px 15px;
  span {
    flex: 1;
    text-align: center;
  }
}
.top2:hover {
  border: 1px solid #0188fb;
  cursor: pointer;
  color: #0188fb;
}
.top3 {
  margin-top: 16px;
  height: 32px;
  p {
    padding: 3px 7px;
    border: 1px solid #d9d9d9;
    background: #fff;
  }
  p:hover {
    border: 1px solid #0188fb;
    cursor: pointer;
    color: #0188fb;
  }
}
.top4 {
  border-top: 1px solid #d9d9d9;
  margin: 16px 0;
}

.right {
  flex: 1;
  background-color: #fff;
}
.InputDiv {
  display: flex;
  button {
    margin-left: 8px;
  }
}
</style>
