<template>
  <div class="know">
    <div class="knowledge">
      <div class="from">
        <div class="fromTop">
          <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="名称">
              <el-input
                v-model="formInline.user"
                placeholder="请输入知识库名称"
              />
            </el-form-item>
            <el-form-item label="状态">
              <el-select v-model="formInline.region">
                <el-option value="publish" label="已发布" />
                <el-option value="draft" label="草稿" />
              </el-select>
            </el-form-item>
          </el-form>
        </div>
        <div class="fromBut">
          <el-form>
            <el-form-item>
              <el-button type="primary" @click="onSearch">搜索</el-button>
              <el-button @click="resetForm">重置</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
      <div class="list">
        <div class="listTop">
          <el-form>
            <el-button type="primary" style="margin-left: 16px" @click="add">
              +新建
            </el-button>
            <el-drawer title="新建知识库" :visible.sync="drawer" size="600px">
              <div class="element-bottom">
                <el-form ref="form" :model="form" label-width="80px">
                  <el-form-item label="名称">
                    <el-input v-model="form.name" />
                  </el-form-item>
                  <el-form-item label="描述">
                    <el-input v-model="form.desc" type="textarea" />
                  </el-form-item>
                  <el-form-item label="评论">
                    <el-switch v-model="form.delivery" />
                  </el-form-item>
                  <el-form-item label="封面">
                    <el-upload
                      class="upload-demo"
                      drag
                      action="https://creationapi.shbwyz.com/api/file/upload?unique=0"
                      multiple
                      :headers="headers"
                      :show-file-list="false"
                      :on-success="handleAvatarSuccess"
                      :before-upload="beforeAvatarUpload"
                    >
                      <img v-if="imageUrl" :src="imageUrl" class="avatar">
                      <i class="el-icon-upload" />
                      <div class="el-upload__text">
                        <p>点击选择文件或将文件拖到此处</p>
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item>
                    <el-input v-model="form.url" />
                  </el-form-item>
                  <el-form-item>
                    <span class="xz" @click="innerDrawer = true">选择文件</span>
                    <span
                      v-show="this.imageUrl !== ''"
                      class="yc"
                      @click="clearUrl"
                    >移除</span>
                    <el-drawer
                      title="文件选择"
                      :append-to-body="true"
                      :visible.sync="innerDrawer"
                      size="700px"
                    >
                      <Drawer />
                      <!-- <p>:before-close="handleClose"</p> -->
                    </el-drawer>
                  </el-form-item>
                  <div class="element-footer">
                    <el-button @click="drawer = false">取消</el-button>
                    <el-button type="primary" :disabled="form.disabled">
                      <span v-if="this.flag" @click="onUpdate">更新</span>
                      <span v-else @click="onSubmit">创建</span>
                    </el-button>
                  </div>
                </el-form>
              </div>
            </el-drawer>
          </el-form>
        </div>
        <div class="content">
          <div class="contentItem">
            <div v-for="item in knowledgeList" :key="item.id" class="item">
              <div class="items">
                <img :src="item.cover" alt="">
                <div class="desc">
                  <p>{{ item.title }}</p>
                  <p>{{ item.summary }}</p>
                </div>
                <div class="icons">
                  <ul>
                    <li>
                      <span
                        @click="goEditor(item.id)"
                      ><i
                        class="el-icon-edit"
                      /></span>
                    </li>
                    <li>
                      <el-popover
                        placement="top"
                        trigger="hover"
                        :content="
                          item.status === 'publish' ? '设为草稿' : '发布上线'
                        "
                      >
                        <span
                          slot="reference"
                          @click="edit(item)"
                        ><i
                          :class="
                            item.status === 'publish'
                              ? 'el-icon-download'
                              : 'el-icon-upload2'
                          "
                        /></span>
                      </el-popover>
                    </li>
                    <li>
                      <span
                        @click="setFile(item)"
                      ><i
                        class="el-icon-setting"
                      /></span>
                    </li>
                    <li>
                      <span
                        @click="Delete(item.id)"
                      ><i
                        class="el-icon-delete"
                      /></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page">
          <el-pagination
            :current-page="1"
            :page-sizes="[8, 12, 24, 36]"
            :page-size="pageSize"
            layout="total, prev, pager, next, sizes, jumper"
            :total="pageCount"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
          />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Drawer from '@/components/Drawer/Drawer.vue'
import { mapState, mapActions } from 'vuex'
import { getToken } from '../../utils/auth'
export default {
  components: { Drawer },
  data() {
    return {
      headers: {},
      flag: false,
      imageUrl: '',
      form: {
        id: '',
        name: '',
        desc: '',
        url: '',
        delivery: false,
        disabled: true
      },
      formInline: {
        user: '',
        region: ''
      },
      page: 1,
      pageSize: 8,
      drawer: false,
      innerDrawer: false
    }
  },
  computed: {
    ...mapState({
      pageCount: (state) => state.knowledge.pageCount,
      knowledgeList: (state) => state.knowledge.knowledgeList
    })
  },
  watch: {
    form: {
      deep: true,
      // immediate: true,
      handler(newVal, oldVal) {
        if (newVal.name === '') {
          this.form.disabled = true
        } else {
          this.form.disabled = false
        }
      }
    },
    drawer(newVal, oldVal) {
      if (newVal === false) {
        this.flag = false
        this.form.name = ''
        this.form.desc = ''
        this.form.delivery = false
        this.form.url = ''
        this.imageUrl = ''
      }
    }
  },
  created() {
    this.headers = { authorization: `Bearer ${getToken()}` }
    this.getKnowledge({ page: this.page, pageSize: this.pageSize })
  },
  methods: {
    goEditor(id) {
      this.$router.push(`/knowledge/editor/${id}`)
    },
    ...mapActions({
      getKnowledge: 'knowledge/getKnowledge',
      deleteKnowledge: 'knowledge/deleteKnowledge',
      patchKnowledge: 'knowledge/patchKnowledge',
      createList: 'knowledge/createList'
    }),
    handleSizeChange(val) {
      this.pageSize = val
      this.getKnowledge({
        page: this.page,
        pageSize: this.pageSize,
        title: this.formInline.user,
        status: this.formInline.region
      })
    },
    handleCurrentChange(val) {
      this.page = val
      this.getKnowledge({
        page: this.page,
        pageSize: this.pageSize,
        title: this.formInline.user,
        status: this.formInline.region
      })
    },
    async onSubmit() {
      this.drawer = false
      await this.createList({
        cover: this.form.url,
        isCommentable: this.form.delivery,
        summary: this.form.desc,
        title: this.form.name
      })
      await this.getKnowledge({ page: this.page, pageSize: this.pageSize })
    },
    resetForm() {
      // 重置
      this.formInline.user = ''
      this.formInline.region = ''
    },
    setDisabled() {
      this.form.display = false
    },
    onSearch() {
      // 搜索
      this.getKnowledge({
        page: this.page,
        pageSize: this.pageSize,
        title: this.formInline.user,
        status: this.formInline.region
      })
    },
    async edit(item) {
      // 草稿,已发布
      await this.patchKnowledge({
        id: item.id,
        status: item.status === 'publish' ? 'draft' : 'publish'
      })
      await this.getKnowledge({
        page: this.page,
        pageSize: this.pageSize,
        status: this.formInline.region
      })
    },
    setFile(item) {
      // 回显
      this.flag = true
      this.drawer = true
      this.form.id = item.id
      this.form.name = item.title
      this.form.desc = item.summary
      this.form.delivery = item.isCommentable
      this.form.url = item.cover
      this.imageUrl = item.cover
    },
    async onUpdate() {
      this.drawer = false
      await this.patchKnowledge({
        id: this.form.id,
        cover: this.form.url,
        isCommentable: this.form.delivery,
        summary: this.form.desc,
        title: this.form.name
      })
      await this.getKnowledge({
        page: this.page,
        pageSize: this.pageSize,
        status: this.formInline.region
      })
    },
    clearUrl() {
      // 移除
      this.form.url = ''
      this.imageUrl = ''
    },
    add() {
      this.drawer = true
    },
    async Delete(id) {
      // 删除
      await this.deleteKnowledge({ id })
      await this.getKnowledge({ page: this.page, pageSize: this.pageSize })
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw)
      this.form.url = res.data.url
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    }
  }
}
</script>

<style lang="scss" scoped>
* {
  list-style: none;
}
.know {
  padding: 24px;
  background-color: #eff2f5;
}
.knowledge {
  box-sizing: border-box;
}
.from {
  padding: 24px 12px;
  margin-bottom: 16px;
  background: #fff;
}
.fromBut {
  display: flex;
  justify-content: flex-end;
}

.list {
  background: rgb(255, 255, 255);
  padding: 24px 12px;
}
.listTop {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.contentItem {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.item {
  width: 25%;
  padding: 0 8px;
}
.items {
  border: 1px solid #f0f0f0;
  margin-bottom: 16px;
  img {
    width: 100%;
    height: 120px;
  }
}

.desc {
  padding: 24px;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.icons {
  ul {
    border-top: 1px solid #f0f0f0;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      flex: 1;
      text-align: center;
    }
    li:first-child {
      border-right: 1px solid #f0f0f0;
    }
    li:nth-child(2) {
      border-right: 1px solid #f0f0f0;
    }
    li:nth-child(3) {
      border-right: 1px solid #f0f0f0;
    }
  }
}
.page {
  margin-top: 1.5rem;
  text-align: right;
}
@media (max-width: 768px) {
  .item {
    width: 50%;
  }
}
.element-header {
  width: 100%;
  padding: 16px 24px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.xz {
  padding: 8px 15px;
  border: 1px solid #d9d9d9;
}
.yc {
  margin-left: 10px;
  padding: 8px 15px;
  border: 1px solid #ff4d4f;
  color: #ff4d4f;
}
.element-footer {
  padding: 10px 0 0 0;
  border-top: 1px solid #dcdfe6;
  display: flex;
  justify-content: flex-end;
}
.avatar {
  width: 100%;
  height: 180px;
}
</style>
