<template>
  <div class="page">
    <div class="page-top">
      <div class="page-inp">
        <span>名称:
          <el-input
            v-model="PageName"
            placeholder="请输入内容"
            style="width: 177px; height: 30px"
          /></span>
        <span>路径:
          <el-input
            v-model="PageRoute"
            placeholder="请输入内容"
            style="width: 177px; height: 30px"
          /></span>
        <span>
          状态:
          <el-select v-model="value" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.label"
            />
          </el-select>
        </span>
      </div>
      <div class="push-bun">
        <el-button type="primary" @click="search()">搜索</el-button>
        <el-button @click="Reset()">重置</el-button>
      </div>
    </div>

    <div class="page-tun">
      <el-table :data="data == null ? PageList[0] : data" style="width: 100%">
        <el-table-column type="selection" width="55" />
        <el-table-column prop="name" label="名称" fit />
        <el-table-column prop="path" label="路径" fit />
        <el-table-column prop="order" label="顺序" fit />
        <el-table-column prop="views" label="阅读量" fit />
        <el-table-column label="状态" width="120">
          <template slot-scope="scope">
            <el-badge
              v-if="scope.row.status === 'draft'"
              type="warning"
              is-dot
              class="item"
            >草稿</el-badge>
            <el-badge
              v-if="scope.row.status === 'publish'"
              type="success"
              is-dot
              class="item"
            >已发布</el-badge>
          </template>
        </el-table-column>
        <el-table-column prop="" label="发布时间" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.createAt | formatDate }}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="300">
          <template slot-scope="scope">
            <el-button type="text" size="medium"> 编辑 </el-button>
            <el-button
              v-if="scope.row.status === 'publish'"
              type="text"
              size="medium"
              @click.native.prevent="change(scope.row)"
            >
              下线
            </el-button>
            <el-button
              v-if="scope.row.status === 'draft'"
              type="text"
              size="medium"
              @click.native.prevent="change(scope.row)"
            >
              发布
            </el-button>
            <el-button type="text" size="medium"> 查看访问 </el-button>
            <el-button
              type="text"
              size="medium"
              @click.native.prevent="del(scope.row)"
            >
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="fenye">
        <el-pagination
          :current-page="1"
          :page-sizes="[8, 12, 24, 36]"
          :page-size="pageSize"
          layout=" prev, pager, next, sizes, jumper"
          :total="PageList[1]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data() {
    return {
      page: 1,
      pageSize: 12,
      multipleSelection: [],
      data: null, // 评论数据
      options: [
        {
          value: '选项1',
          label: '已发布'
        },
        {
          value: '选项2',
          label: '草稿'
        }
      ],
      value: '',
      PageRoute: '',
      PageName: ''
    }
  },
  computed: {
    ...mapState({
      // 页面管理
      PageList: (state) => state.page.PageList,
      pagePublish: (state) => state.page.pagePublish,
      pageDraft: (state) => state.page.pageDraft
    })
  },
  methods: {
    ...mapActions({
      getPage: 'page/getPage',
      getPublish: 'page/getPublish',
      getDraft: 'page/getDraft',
      getDelete: 'page/getDelete',
      getPatch: 'page/getPatch'
    }),
    handleSizeChange(val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getPage({ page: this.page, pageSize: this.pageSize })
    },
    handleCurrentChange(val) {
      this.page = val
      this.getPage({ page: this.page, pageSize: this.pageSize })
      // console.log(`当前页: ${val}`)
    },
    // 搜索
    search() {
      if (this.value === '草稿') {
        this.data = this.pageDraft[0]
        if (!this.PageRoute === '' || !this.PageName === '') {
          this.data = this.data.filter((item) => {
            if (
              item.name.includes(this.PageName) &&
              item.path.includes(this.PageRoute)
            ) {
              return item
            }
          })
        }
      } else if (this.value === '已发布') {
        this.data = this.pagePublish[0]
        if (!this.PageRoute === '' || !this.PageName === '') {
          this.data = this.data.filter((item) => {
            if (
              item.name.includes(this.PageName) &&
              item.path.includes(this.PageRoute)
            ) {
              return item
            }
          })
        }
      } else {
        if (!this.PageRoute === '' || !this.PageName === '') {
          this.data = this.PageList[0].filter((item) => {
            if (
              item.name.includes(this.PageName) &&
              item.path.includes(this.PageRoute)
            ) {
              return item
            }
          })
        }
      }
    },
    // 重置
    Reset() {
      this.PageRoute = ''
      this.PageName = ''
      this.value = ''
      this.data = null
    },
    // 删除
    async del(id) {
      await this.getDelete(id)
      this.getPage({ page: this.page, pageSize: this.pageSize })
    },
    // 改变状态
    async change(item) {
      await this.getPatch({
        id: item.id,
        status: item.status === 'publish' ? 'draft' : 'publish'
      })

      this.getPage({ page: this.page, pageSize: this.pageSize })
    }
  },
  mounted() {
    this.data = this.PageList[0]
  },
  created() {
    this.getPage({ page: this.page, pageSize: this.pageSize })
    this.getPublish()
    this.getDraft()
  }
}
</script>

<style>
.page-top {
  width: 100%;
  height: 150px;
  background-color: #fff;
}
.page-inp {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.page-inp > span {
  margin-left: 40px;
}
.push-bun {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.push-bun > button {
  margin-right: 20px;
}
.page-tun {
  margin-top: 20px;
}
</style>
