<template>
  <div class="viewManage">
    <div class="viewManage_top">
      <el-tabs v-model="activeName" :tab-position="tabposition">
        <el-tab-pane label="系统设置" name="first">
          <div class="viewManage_right">
            <div v-for="(item) in bt" :key="item.id" class="seo-top">
              <div>{{ item.a }}</div>
              <div class="seo-top-div" style="display: flex">
                <input
                  v-model="item.b"
                  class="inp"
                  type="text"
                  :placeholder="'请输入' + item.a"
                >
                <el-button v-show="item.flag" type="text" @click="drawer = true">
                  <span class="ant-input-group-addon">
                    <span
                      role="img"
                      aria-label="file-image"
                      tabindex="-1"
                      class="anticon anticon-file-image"
                    >
                      <svg
                        viewBox="64 64 896 896"
                        focusable="false"
                        data-icon="file-image"
                        width="1em"
                        height="1em"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M553.1 509.1l-77.8 99.2-41.1-52.4a8 8 0 00-12.6 0l-99.8 127.2a7.98 7.98 0 006.3 12.9H696c6.7 0 10.4-7.7 6.3-12.9l-136.5-174a8.1 8.1 0 00-12.7 0zM360 442a40 40 0 1080 0 40 40 0 10-80 0zm494.6-153.4L639.4 73.4c-6-6-14.1-9.4-22.6-9.4H192c-17.7 0-32 14.3-32 32v832c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V311.3c0-8.5-3.4-16.7-9.4-22.7zM790.2 326H602V137.8L790.2 326zm1.8 562H232V136h302v216a42 42 0 0042 42h216v494z"
                        />
                      </svg>
                    </span>
                  </span>
                </el-button>
                <el-drawer :visible.sync="drawer" size="800px">
                  <div>
                    <el-upload
                      class="upload-demo"
                      action="https://creationapi.shbwyz.com/api/file/upload?unique=0"
                      :headers="{ authorization: `Bearer ${token}` }"
                      :on-success="ok"
                      multiple
                    >
                      <el-button size="small" type="primary">点击上传</el-button>
                    </el-upload>
                    <div class="search">
                      <div class="tops">
                        <div class="top_search">
                          <p>
                            <span>文件名称:</span><input v-model="originalname" placeholder="请输入文件名称">
                          </p>
                          <p>
                            <span>文件类型:</span><input v-model="type" placeholder="请输入文件类型">
                          </p>
                        </div>
                        <div class="tops_btn">
                          <p>
                            <button class="btn_search" @click="search()">搜索</button>
                            <button @click="reset()">重置</button>
                          </p>
                        </div>
                      </div>
                      <div class="bottoms">
                        <div v-for="(item, index) in fileall" :key="index" class="card">
                          <div class="card_top">
                            <viewer :images="[item]" button>
                              <img :src="item.url" alt="" class="viewer_img">
                            </viewer>
                          </div>
                          <div class="card_bottom">
                            <p>{{ item.originalname }}</p>
                            <p>{{ item.createAt | formatDate }}</p>
                          </div>
                        </div>
                        <div class="fenye">
                          <el-pagination
                            layout="prev, pager, next"
                            :total="filecount"
                            :page-size="pageSize"
                            @perv-click="pervs"
                            @next-click="nexts"
                            @current-change="currentpage"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </el-drawer>
              </div>
            </div>
            <div class="seo-top-d">
              <div class="information">页脚信息</div>
              <div>
                <el-input
                  v-model="textarea"
                  type="textarea"
                  :rows="6"
                  placeholder="请输入内容"
                />
              </div>
            </div>
          </div>
          <button class="but"><span>保存</span></button>
        </el-tab-pane>
        <el-tab-pane label="国际化设置" name="second">
          <div style="margin-bottom: 20px">
            <el-button size="small" @click="addTab(editableTabsValue)"> 添加 </el-button>
          </div>
          <el-tabs
            v-model="editableTabsValue"
            type="card"
            closable
            @tab-remove="removeTab"
          >
            <el-tab-pane
              v-for="(item, index) in editableTabs"
              :key="index"
              :label="item.title"
              :name="item.name"
            >
              <Editor />
            </el-tab-pane>
          </el-tabs>
        </el-tab-pane>
        <el-tab-pane label="SEO设置" name="third">
          <div class="viewManage_right">
            <div class="seo-top">
              <div>关键字</div>
              <div>
                <input v-model="keyword" class="inp" type="text" name="">
              </div>
            </div>
            <div class="seo-top-d">
              <div class="information">描述信息</div>
              <div>
                <el-input
                  v-model="textarea"
                  type="textarea"
                  :rows="6"
                  placeholder="请输入内容"
                />
              </div>
            </div>
          </div>
          <button class="but"><span>保存</span></button>
        </el-tab-pane>
        <el-tab-pane label="数据统计" name="fourth">
          <div class="viewManage_right">
            <div class="seo-top">
              <div>百度统计</div>
              <div class="seo-top-div">
                <input class="inp" type="text" placeholder="请输入百度统计 Id">
              </div>
            </div>
            <div class="seo-top">
              <div>谷歌分析</div>
              <div class="seo-top-div">
                <input class="inp" type="text" placeholder="请输入谷歌分析 Id">
              </div>
            </div>
            <button class="but"><span>保存</span></button>
          </div>
        </el-tab-pane>
        <el-tab-pane label="OSS设置" name="oss">
          <div class="viewManage_right">
            <div class="explain">
              <h3>说明</h3>
              <p>
                请在编辑器中输入您的 oss 配置，并添加 type 字段区分
                {"type":"aliyun","accessKeyld":"","accessKeySecret":"","bucket":"","https":true,"region":""}
              </p>
            </div>
            <Editor />
          </div>
        </el-tab-pane>
        <el-tab-pane label="SMTP服务" name="smtp">
          <div class="viewManage_right">
            <div v-for="(item, index) in smtp" :key="index" class="seo-top">
              <div>{{ item.a }}</div>
              <div class="seo-top-div">
                <input class="inp" type="text" :placeholder="item.b">
              </div>
            </div>
            <button class="but"><span>保存</span></button>
            <el-button plain>测试</el-button>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <Footer />
  </div>
</template>

<script>
import '@/assets/setting/index.css'
import { mapState, mapActions } from 'vuex'
import { getToken } from '@/utils/auth.js'
import Editor from '@/components/JsonEditor/index.vue'
import Footer from '@/components/Footer/index.vue'
export default {
  components: { Footer, Editor },
  data() {
    return {
      originalname: '',
      type: '',
      page: 1,
      pageSize: 10,
      drawer: false,
      item: {},
      arr: [],
      token: '',
      i18n: '{}',
      editableTabsValue: '1',
      editableTabs: [
        {
          title: 'Tab 1',
          name: '1',
          content: 'Tab 1 content'
        },
        {
          title: 'Tab 2',
          name: '2',
          content: 'Tab 2 content'
        }
      ],
      tabIndex: 2,
      activeName: 'first',
      tabposition: 'left',
      keyword:
        'JavaScript,TypeScript,Vue.js,微信小程序,React.js,正则表达式,WebGL,Webpack,Docker,MVVM,nginx,java',
      textarea:
        '“小楼又清风”是 fantasticit（https://github.com/fantasticit）的个人小站。本站的文章包括：前端、后端等方面的内容，也包括一些个人读书笔记。',
      bt: [
        { a: '系统地址', b: 'https://blog.wipi.tech/', flag: false },
        { a: '后台地址', b: 'https://admin.blog.wipi.tech/', flag: false },
        { a: '系统标题', b: '小楼又清风', flag: false },
        { a: '全局背景', flag: false },
        {
          a: 'Logo',
          b:
            "<img height='36' src='https://wipi.oss-cn-shanghai.aliyuncs.com/2021-02-20/wipi-logo.png' alt='logo'>",
          flag: true
        },
        {
          a: 'Favicon',
          b: 'https://wipi.oss-cn-shanghai.aliyuncs.com/2021-02-20/wipi-favicon.png',
          flag: true
        }
      ],
      smtp: [
        { a: 'SMTP 地址', b: '请输入 SMTP' },
        { a: 'SMTP 端口（强制使用 SSL 连接）', b: '请输入 SMTP 端口' },
        { a: 'SMTP 用户', b: '请输入 SMTP 用户' },
        { a: 'SMTP 密码', b: '也可能是授权码' },
        { a: 'SMTP 发件人', b: '请输入正确的邮箱地址' }
      ]
    }
  },
  created() {
    this.getfile({ page: this.page, pageSize: this.pageSize })
  },
  computed: {
    ...mapState({
      fileall: (state) => state.file.fileall,
      filecount: (state) => state.file.filecount
    })
  },
  mounted() {
    this.token = getToken()
  },
  methods: {
    addTab() {
      const newTabName = ++this.tabIndex + ''
      this.editableTabs.push({
        title: 'New Tab',
        name: newTabName,
        content: 'New Tab content'
      })
      this.editableTabsValue = newTabName
    },
    removeTab(targetName) {
      const tabs = this.editableTabs
      let activeName = this.editableTabsValue
      if (activeName === targetName) {
        tabs.forEach((tab, index) => {
          if (tab.name === targetName) {
            const nextTab = tabs[index + 1] || tabs[index - 1]
            if (nextTab) {
              activeName = nextTab.name
            }
          }
        })
      }
      this.editableTabsValue = activeName
      this.editableTabs = tabs.filter((tab) => tab.name !== targetName)
    },
    // 上传图片
    ok() {
      this.getfile({ page: this.page, pageSize: this.pageSize })
    },
    ...mapActions({
      getfile: 'file/getfile'
    }),
    // 点击重置
    reset() {
      this.originalname = ''
      this.type = ''
    },
    // 点击搜索
    search() {
      this.getfile({
        page: this.page,
        pageSize: this.pageSize,
        originalname: this.originalname,
        type: this.type
      })
    },
    // 点击上一页
    pervs() {
      if (this.page <= 1) {
        this.page = 1
      }
      this.page -= 1
      this.getfile({ page: this.page, pageSize: this.pageSize })
    },
    // 点击下一页
    nexts() {
      if (this.page >= this.searchcount) {
        this.page = this.searchcount
      }
      this.page += 1
      this.getfile({ page: this.page, pageSize: this.pageSize })
    },
    // 点击当前页
    currentpage(val) {
      this.page = val
      this.getfile({ page: this.page, pageSize: this.pageSize })
    }
  }
}
</script>
