<template>
  <div class="drawer">
    <div class="draFrom">
      <div class="draFromTop">
        <el-form :inline="true" class="demo-form-inline">
          <el-form-item label="文件名">
            <el-input v-model="originalname" placeholder="请输入文件..." />
          </el-form-item>
          <el-form-item label="文件类">
            <el-input v-model="type" placeholder="请输入入文件..." />
          </el-form-item>
        </el-form>
      </div>
      <div class="draFromBut">
        <el-form>
          <el-form-item>
            <el-button type="primary" @click="onSearch">搜索</el-button>
            <el-button @click="resetForm">重置</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="draList">
      <div class="draListTop">
        <el-upload
          class="avatar-uploader"
          :headers="head"
          action="https://creationapi.shbwyz.com/api/file/upload?unique=0"
          :show-file-list="false"
          :on-success="handleAvatarSuccessImg"
          :before-upload="beforeAvatarUploadImg"
        >
          <span class="xz">选择文件</span>
        </el-upload>
      </div>
      <div class="draContent">
        <div class="draContentItem">
          <div v-for="items in fileall" :key="items.id" class="draItem">
            <div class="draItems">
              <div class="demo-image__preview">
                <el-image
                  style="width: 100%; height: 100px"
                  :src="items.url"
                  :preview-src-list="srcList"
                  @click="img(items.url)"
                />
              </div>
              <div class="draDesc">
                <p>{{ items.filename }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page">
        <el-pagination
          :current-page="1"
          :page-sizes="[8, 12, 24, 36]"
          :page-size="pageSize"
          layout="total, prev, pager, next, sizes"
          :total="filecount"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { getToken } from '../../utils/auth'
import { mapActions, mapState } from 'vuex'
export default {
  data() {
    return {
      srcList: [
        'https://fuss10.elemecdn.com/8/27/f01c15bb73e1ef3793e64e6b7bbccjpeg.jpeg'
      ],
      originalname: '',
      type: '',
      page: 1,
      pageSize: 8,
      drawer: false,
      item: {},
      head: {}
    }
  },
  computed: {
    ...mapState({
      fileall: (state) => state.file.fileall,
      filecount: (state) => state.file.filecount
    })
  },
  created() {
    this.head = { authorization: `Bearer ${getToken()}` }
    this.getfile({ page: this.page, pageSize: this.pageSize })
  },
  methods: {
    handleAvatarSuccessImg(res, file) {
      this.getfile({ page: this.page, pageSize: this.pageSize })
      // this.imageUrl = URL.createObjectURL(file.raw)
    },
    beforeAvatarUploadImg(file) {
      const isJPG = file.type === 'image/jpeg'
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.$message.error('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    },
    img(item) {
      this.srcList[0] = item
    },
    ...mapActions({
      getfile: 'file/getfile',
      getdelfile: 'file/getdelfile'
    }),
    resetForm() {
      // 重置
      this.originalname = ''
      this.type = ''
    },
    onSearch() {
      // 搜索
      this.getfile({
        page: this.page,
        pageSize: this.pageSize,
        originalname: this.originalname,
        type: this.type
      })
    },
    handleSizeChange(val) {
      this.pageSize = val
      this.getfile({
        page: this.page,
        pageSize: this.pageSize,
        originalname: this.originalname,
        type: this.type
      })
    },
    handleCurrentChange(val) {
      this.page = val
      this.getfile({
        page: this.page,
        pageSize: this.pageSize,
        originalname: this.originalname,
        type: this.type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.drawer {
  padding: 12px;
  border-top: 1px solid #d9d9d9;
}
.draFrom {
  padding: 12px;
}
.draFromBut {
  display: flex;
  justify-content: flex-end;
}
.draListTop {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.xz {
  padding: 8px 15px;
  border: 1px solid #d9d9d9;
}
.draContentItem {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.draItem {
  width: 25%;
  padding: 0 8px;
}
.draItems {
  border: 1px solid #f0f0f0;
  margin-bottom: 16px;
  img {
    width: 100%;
    height: 100px;
  }
}

.draDesc {
  padding: 6px 12px;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
