<template>
  <div class="editor">
    <el-row>
      <el-col :span="24">
        <div class="grid-content bg-purple-dark row_one">
          <div class="ant-page-header-heading-left">
            <div class="ant-page-header-back">
              <div
                role="button"
                tabindex="0"
                class="ant-page-header-back-button"
                aria-label="返回"
                style="
                                    border: 0px;
                                    background: transparent;
                                    padding: 0px;
                                    line-height: inherit;
                                    display: inline-block;
                                "
              >
                <button type="button" class="ant-btn ant-btn-sm ant-btn-icon-only">
                  <span
                    role="img"
                    aria-label="close"
                    class="anticon anticon-close"
                  >
                    <svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="close"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <span v-if="articleItem" class="ant-page-header-heading-title">
              <input
                v-model="title"
                placeholder="请输入文章标题"
                type="text"
                class="ant-input"
                style="width: 300px"
              >
            </span>
          </div>
          <div class="headerbox">
            <el-button type="primary" @click="handleSubmit">发布</el-button>
            <button class="btn" @click="drawer = true">
              <span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis">
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="ellipsis"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"
                  />
                </svg>
              </span>
            </button>
            <el-drawer
              title="文章设置"
              :visible.sync="drawer"
              :direction="direction"
              :before-close="handleClose"
            >
              <span>我来啦!</span>
            </el-drawer>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="18">
        <div class="content">
          <mavon-editor
            v-if="articleItem"
            v-model="content"
            style="height: 100%; width: 100%"
          />
        </div>
      </el-col>
      <el-col :span="6" class="rightFlag">
        <h2>
          大纲
          <span>X</span>
        </h2>
        <li v-for="(item,index) in lisDom" :key="index" v-html="item.innerHTML" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { mavonEditor } from 'mavon-editor'
import 'mavon-editor/dist/css/index.css'
import BS from 'better-scroll'

export default {
  data() {
    return {
      title: '',
      content: '', // 双向绑定
      editorOption: {}, // 默认
      result: null,
      drawer: false,
      direction: 'rtl',
      num: 0,
      lisDom: []
    }
  },
  computed: {
    ...mapState({
      articleItem: (state) => state.article.articleItem
    }),
    editor() {
      return this.$refs.myQuillEditor.quill
    }
  },
  watch: {
    articleItem() {
      console.log('articleItem...', this.articleItem)
      this.title = this.articleItem.title
      if (this.articleItem.content) {
        this.content = this.articleItem.content
      }
      this.$nextTick(() => {
        this.lisDom = [...document.querySelectorAll('.v-note-show h1')]
        this.lisDom = [...this.lisDom, ...document.querySelectorAll('.v-note-show h2')]
        this.lisDom = [...this.lisDom, ...document.querySelectorAll('.v-note-show h3')]
        this.lisDom = [...this.lisDom, ...document.querySelectorAll('.v-note-show h4')]
        this.lisDom = [...this.lisDom, ...document.querySelectorAll('.v-note-show h5')]
        this.lisDom = [...this.lisDom, ...document.querySelectorAll('.v-note-show h6')]
        console.log('--------', this.articleItem)
        console.log('lisDom', this.lisDom)
        this.lisDom.forEach(item => console.log(item.innerHTML))
      })
    }
  },
  created() {
    this.getItem()
  },
  mounted() {
    this.BS = new BS('.editor', {
      click: true
    })
  },
  methods: {
    ...mapActions({
      fetchItem: 'article/fetchItem',
      updateArticle: 'article/updateArticle',
      fetchList: 'article/fetchList'
    }),
    getItem() {
      const { id } = this.$route.params
      this.fetchItem(id)
    },
    handleClose(done) {
      this.$confirm('确认关闭？')
        .then((_) => {
          done()
        })
        .catch((_) => { })
    },
    async handleSubmit() {
      await this.updateArticle({
        ...this.articleItem,
        title: this.title,
        content: this.content,
        id: this.$route.params.id
      })
      this.$router.back()
    }
  },
  components: {
    mavonEditor
  }
}
</script>

<style scoped lang='scss'>
.red {
    color: #f00;
}
.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
.ant-page-header-heading-left {
    display: flex;
    align-items: center;
    margin: 4px 0;
    overflow: hidden;
}
.ant-input {
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
}
.btn {
    border: none;
    background-color: #fff;
    color: #0188fb;
    cursor: pointer;
}
.grid-content {
    border-radius: 4px;
    min-height: 50px;
    border-bottom: 1px solid rgb(235, 237, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.row_one {
    background-color: #fff;
}
.ant-page-header-heading {
    display: flex;
    justify-content: space-between;
}
</style>
