<template>
  <div class="article">
    <el-row>
      <el-col :span="24">
        <div class="grid-content bg-purple-dark row_one">
          <div class="ant-page-header-heading-left">
            <div class="ant-page-header-back">
              <div
                role="button"
                tabindex="0"
                class="ant-page-header-back-button"
                aria-label="返回"
                style="
                                    border: 0px;
                                    background: transparent;
                                    padding: 0px;
                                    line-height: inherit;
                                    display: inline-block;
                                "
              >
                <button
                  type="button"
                  class="ant-btn ant-btn-sm ant-btn-icon-only"
                >
                  <span
                    role="img"
                    aria-label="close"
                    class="anticon anticon-close"
                  >
                    <svg
                      viewBox="64 64 896 896"
                      focusable="false"
                      data-icon="close"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </div>
            <span
              class="ant-page-header-heading-title"
            >
              <input
                v-model="newData.title"
                placeholder="请输入文章标题"
                type="text"
                class="ant-input"
                style="width: 300px"
              >
            </span>
          </div>
          <div class="headerbox">
            <el-button
              type="primary"
              @click="handleSubmit"
            >发布</el-button>
            <button class="btn" @click="drawer = true">
              <span
                role="img"
                aria-label="ellipsis"
                class="anticon anticon-ellipsis"
              >
                <svg
                  viewBox="64 64 896 896"
                  focusable="false"
                  data-icon="ellipsis"
                  width="1em"
                  height="1em"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>
      </el-col>
    </el-row>
    <div class="content">
      <mavon-editor
        v-model="newData.content"
        style="height: 100%; width: 100%"
      />
    </div>
  </div>
</template>

<script>
import { mavonEditor } from 'mavon-editor'
import 'mavon-editor/dist/css/index.css'
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      newData: {
        content: '\n# 欢迎使用 Wipi Markdown 编辑器\n\n> * 整理知识，学习笔记\n> * 发布日记，杂文，所见所想\n> * 撰写发布技术文稿（代码支持）\n\n## 什么是 Markdown\n\nMarkdown 是一种方便记忆、书写的纯文本标记语言，用户可以使用这些标记符号以最小的输入代价生成极富表现力的文档：譬如您正在阅读的这份文档。它使用简单的符号标记不同的标题，分割不同的段落，**粗体** 或者 *斜体* 某些文字。\n\n### 1. 待办事宜 Todo 列表\n\n- [ ] 支持以 PDF 格式导出文稿\n- [x] 新增 Todo 列表功能\n\n### 2. 高亮一段代码[^code]\n\n```python\n@requires_authorization\nclass SomeClass:\n    pass\n\nif __name__ == \'__main__\':\n    # A comment\n    print \'hello world\'\n```\n\n### 3. 绘制表格\n\n| 项目        | 价格   |  数量  |\n| --------   | -----:  | :----:  |\n| 计算机     | 1600 |   5     |\n| 手机        |   12   |   12   |\n| 管线        |    10    |  234  |\n\n### 4. 嵌入网址\n<iframe src="//player.bilibili.com/player.html?aid=77737877&bvid=BV1xJ411z7eS&cid=132993821&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>\n\n```HTML\n<iframe src="//player.bilibili.com/player.html?aid=77737877&bvid=BV1xJ411z7eS&cid=132993821&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>\n```\n',
        html: '<h1 id="欢迎使用-wipi-markdown-编辑器">欢迎使用 Wipi Markdown 编辑器</h1>\n<blockquote>\n  <ul>\n  <li>整理知识，学习笔记</li>\n  <li>发布日记，杂文，所见所想</li>\n  <li>撰写发布技术文稿（代码支持）</li>\n  </ul>\n</blockquote>\n<h2 id="什么是-markdown">什么是 Markdown</h2>\n<p>Markdown 是一种方便记忆、书写的纯文本标记语言，用户可以使用这些标记符号以最小的输入代价生成极富表现力的文档：譬如您正在阅读的这份文档。它使用简单的符号标记不同的标题，分割不同的段落，<strong>粗体</strong> 或者 <em>斜体</em> 某些文字。</p>\n<h3 id="1-待办事宜-todo-列表">1. 待办事宜 Todo 列表</h3>\n<ul>\n<li class="task-list-item" style="list-style-type: none;"><input type="checkbox" disabled style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;"> 支持以 PDF 格式导出文稿</li>\n<li class="task-list-item" style="list-style-type: none;"><input type="checkbox" disabled style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;" checked> 新增 Todo 列表功能</li>\n</ul>\n<h3 id="2-高亮一段代码code">2. 高亮一段代码[^code]</h3>\n<pre><code class="python language-python">@requires_authorization\nclass SomeClass:\n    pass\n\nif __name__ == \'__main__\':\n    # A comment\n    print \'hello world\'\n</code></pre>\n<h3 id="3-绘制表格">3. 绘制表格</h3>\n<table>\n<thead>\n<tr>\n<th>项目</th>\n<th style="text-align:right;">价格</th>\n<th style="text-align:center;">数量</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>计算机</td>\n<td style="text-align:right;">1600</td>\n<td style="text-align:center;">5</td>\n</tr>\n<tr>\n<td>手机</td>\n<td style="text-align:right;">12</td>\n<td style="text-align:center;">12</td>\n</tr>\n<tr>\n<td>管线</td>\n<td style="text-align:right;">10</td>\n<td style="text-align:center;">234</td>\n</tr>\n</tbody>\n</table>\n<h3 id="4-嵌入网址">4. 嵌入网址</h3>\n<iframe src="//player.bilibili.com/player.html?aid=77737877&bvid=BV1xJ411z7eS&cid=132993821&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>\n<pre><code class="HTML language-HTML">&lt;iframe src="//player.bilibili.com/player.html?aid=77737877&amp;bvid=BV1xJ411z7eS&amp;cid=132993821&amp;page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"&gt; &lt;/iframe&gt;\n</code></pre>',
        status: 'publish',
        title: '',
        toc: '[{"level":"1","id":"欢迎使用-wipi-markdown-编辑器","text":"欢迎使用 Wipi Markdown 编辑器"},{"level":"2","id":"什么是-markdown","text":"什么是 Markdown"},{"level":"3","id":"1-待办事宜-todo-列表","text":"1. 待办事宜 Todo 列表"},{"level":"3","id":"2-高亮一段代码code","text":"2. 高亮一段代码[^code]"},{"level":"3","id":"3-绘制表格","text":"3. 绘制表格"},{"level":"3","id":"4-嵌入网址","text":"4. 嵌入网址"}]'
      }
    }
  },
  methods: {
    ...mapActions({
      addArticle: 'article/addArticle'
    }),
    handleSubmit() {
      console.log('执行了')
      this.addArticle(this.newData)
    }
  },
  components: {
    mavonEditor
  }
}
</script>

<style scoped lang="scss">
.ant-page-header-heading-left {
    display: flex;
    align-items: center;
    margin: 4px 0;
    overflow: hidden;
}
.ant-input {
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
}
.btn {
    border: none;
    background-color: #fff;
    color: #0188fb;
    cursor: pointer;
}
.grid-content {
    border-radius: 4px;
    min-height: 50px;
    border-bottom: 1px solid rgb(235, 237, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.row_one {
    background-color: #fff;
}
.ant-page-header-heading {
    display: flex;
    justify-content: space-between;
}
</style>
