<template>
  <div>
    <vue-json-editor
      v-model="json"
      :show-btns="true"
      :mode="'code'"
      lang="zh"
      @json-change="onJsonChange"
      @json-save="onJsonSave"
      @has-error="onError"
    />
  </div>
</template>

<script>
import vueJsonEditor from 'vue-json-editor'
import { mapState, mapActions } from 'vuex'
export default {
  data() {
    return {
      json: {}
    }
  },
  computed: {
    ...mapState({
      searchall: (state) => state.setting.searchall
    })
  },
  components: {
    vueJsonEditor
  },

  methods: {
    ...mapActions({
      getOss: 'setting/getOss'
    }),
    onJsonChange(value) {
      console.log('value:', value)
    },
    onJsonSave(value) {
      console.log('value:', value)
      this.getOss({ value })
    },
    onError(value) {
      console.log('value:', value)
    }
  }
}
</script>
<style scoped></style>
