.setting_img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    border: 1px solid #ccc;
  }
  .but {
    width: 70px;
    height: 35.6px;
    padding: 10px 20px;
    border: 1px solid #1890ff;
    background: #1890ff;
    border-radius: 5px;
    line-height: 10px;
  }
  .but > span {
    width: 32px;
    height: auto;
    display: inline-block;
    color: #fff;
    font-size: 14px;
  }
  .explain {
    border: 1px solid rgb(122, 206, 255);
    padding: 0 0 0 15px;
    background: rgb(230, 247, 255);
    margin: 0px 0 15px 0;
  }
  .el-tabs__content {
    overflow-y: auto;
  }
  .list {
    /* display: inline-block; */
    width: 64px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    float: left;
  }
  .el-textarea__inner {
    width: 100%;
    padding: 0;
  }
  .list > li {
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: rgb(35, 120, 161);
  }
  .el-textarea {
    width: 590px;
    float: left;
    font-size: 15px;
  }
  .seo-top-d {
    height: 200px;
  }
  .seo-top-div {
    width: 595px;
    margin: 9px 1px 1px 1px;
    line-height: 24.4px;
    border: 1px solid #ccc;
  }
  .ant-input-group-addon {
    display: inline-block;
    width: 44.4px;
    height: 24px;
    border-left: 1px solid #ccc;
    padding: 4px 3px 0px 3px;
    text-align: center;
  }
  .information {
    margin: 0 0 16px 0;
  }
  .seo-top {
    padding: 0 0 8px 0;
    margin: 0 0 24px 0;
  }
  .inp {
    width: 538px;
    border: none;
    outline-style: none;
    margin: 0 0 0 10px;
  }
  ul {
    list-style: none;
  }
  .viewManage {
    background: rgb(239, 242, 245);
  }
  .viewManage_top {
    padding: 16px;
    background: #fff;
    margin: 24px;
  }
  .viewManage_right {
    padding: 16px;
    min-height: 360px;
  }
  .viewer_img{
      width: 100px;
      height: 100px;
  }
  .tops {
    width: 100%;
    height: 128px;
    background: #fff;
    margin-bottom: 20px;
}
.top_search {
    width: 100%;
    display: flex;
}
.top_search>p {
    display: flex;
    width: 51%;
    height: 40px;
    padding: 0 10px;
}
.top_search>p> span {
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.top_search >p > input {
    height: 36px;
    padding: 4px 11px;
}
.tops_btn {
    float: right;
}
.tops_btn >button {
    width: 65px;
    height: 32px;
    margin-right: 10px;
    text-align: center;
    line-height: 32px;
    border: solid 1px #ccc;
    border-radius: 3px;
}
.btn_search {
    background: #0188fb;
    color: #fff;
}
.bottoms {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background: #fff;
}
.card {
    width: 20%;
    height: 200px;
}
.card:hover {
    box-shadow: 0 0 9px 3px #999;
}
.card_top {
    width: 100%;
    height: 110px;
    padding: 4px 5px;
    text-align: center;
}
.card_top > img {
    width: 80%;
    height: 100px;
    border:1px solid #ccc;
}
.card_bottom {
    height: 95px;
    width: 100%;
    padding: 15px;
}

.card_bottom > p {
    width: 100%;
    height: 23px;
    margin: 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fenye {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}
.el-pagination {
    display: flex;
    justify-content: center;
}
.el-upload-list{
    height: 70px;
    overflow: auto;
}
.el-drawer__header{
    margin:0;
    padding:0;
}